<section id="education">
  <h1 hidden>education</h1>
  <div class="container container--education">
    <div class="description">
      <h2 class="description__title after-dot">Education</h2>
      <p class="decription__content">
          All my life I have been driven by my strong believe that education is important. I try to learn something new every single day.
      </p>
      <img src="img/acsent.png" alt="acsent" class="basic-img" />
    </div>
    <ul class="education__list reset-list">
        {% set items = [
            { title: "Kottans p2p course",
            subtitle: "apr 2019 - now",
            content: "It is free online programming course. The course contains basics
            of front-end development: HTML, CSS, JS, and front-end frameworks" },
            { title: "EPAM front-end online course",
            subtitle: "jun 2019 - aug 2019",
            content: " " },
            { title: "English classes in American English center",
            subtitle: "feb 2019 - apr 2019",
            content: "With the aim of increasing the level of knowledge and maintianing the current level I attended English classes." },
            { title: "Front-end course at Beetroot Academy",
            subtitle: "sep 2018 - jan 2019",
            content: "This course explains how a browser works, how to put into practice HTML, CSS and JavaScript (ES6)." }
            ]
        %}

        {% for item in items %}
      <li class="education__item">
        <div class="item__title-wrapper">
          <h4 class="item__title">{{ item.title }}</h4>
          <span class="item__subtitle">{{ item.subtitle }}</span>
        </div>
        <p>{{ item.content }}</p>
      </li>
        {% endfor %}
    </ul>
  </div>
</section>
