@include normalize();

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: $base-font;
}

.content {
  flex: 1 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include medium {
    width: 720px;
  }


  @include large {
    width: 940px;
    padding: 0 15px;
  }

  @include extra {
    width: 1170px;
  }
}

.reset-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.reset-link {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

section:not(last-child) {
  border-bottom: 1px solid $third;
  padding: 20px 0 20px 0;
}

.after-dot {
  &:after {
    content: ".";
    color: $primary;
  }
}

p {
  @include font-size(16);
  font-family: $base-font;
  line-height: 1.4;
  color: $secondary-text;
  margin: 0;
}

.description {
  @include large {
    width: 50%;
    padding-right: 40px;
    position: relative;
    z-index: -5;
  }
}

.basic-img {
  display: none;
  @include large {
    display: block;
    position: absolute;
    bottom: 0;
    left:0;
    z-index: -5;
  }
}

.decription__content {
  margin-bottom: 20px;
}