$base-font: Roboto, sans-serif;
$second-font: Lato, sans-serif;

$primary: #3333FF;
$secondary: #020202;
$third: #d6d6d6;

$primary-text: #000;
$secondary-text: rgba(37, 37, 37, .8);
$third-text:#fff;

$shadow: 0 0 25px rgba(219, 219, 219, 0.5);

$success: green;
$warning: yellow;
$danger: red;