<section id="portfolio">
  <h1 hidden>portfolio</h1>
  <div class="container container--portfolio">
    <div class="description description--portfolio">
      <h2 class="description__title after-dot">Portfolio</h2>
    </div>
    <div class="portfolio__wrapper">
      <ul class="portfolio__list reset-list">
        <!-- <li class="portfolio__item">
          <a href="https://yanagushlevskaya.github.io/device/dist/" class="portfolio__link reset-link">
            <div class="portfolio__img-wrapper">
            <img src="img/creative-agency.png" alt="creative-agency" class="portfolio__img" />
            </div>
            <span class="img-description">Multipage website</span>
          <span class="img-data">February, 2019</span>
          </a>
        </li> -->
        <li class="portfolio__item">
          <a href="https://yanagushlevskaya.github.io/tajam/dist/" class="portfolio__link reset-link">
            <figure>
              <div class="portfolio__img-wrapper">
                <img src="img/tajam.png" alt="tajam" class="portfolio__img" />
              </div>
              <figcaption>
                <span class="img-description">Tajam: a simple landing page</span>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="portfolio__item">
          <a href="https://yanagushlevskaya.github.io/olios/dist/" class="portfolio__link reset-link">
            <figure>
              <div class="portfolio__img-wrapper">
                <img src="img/olios.png" alt="olios" class="portfolio__img" />
              </div>
              <figcaption>
                <span class="img-description">Olios: multi-page responsive web-site</span>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="portfolio__item">
          <a href="https://yanagushlevskaya.github.io/device/dist/" class="portfolio__link reset-link">
            <figure>
              <div class="portfolio__img-wrapper">
                <img src="img/device.png" alt="device" class="portfolio__img" />
              </div>
              <figcaption>
                <span class="img-description">Group project: multi-page responsive web-site</span>
              </figcaption>
            </figure>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
