<section id="portfolio">
  <h1 hidden>portfolio</h1>
  <div class="container container--portfolio">
    <div class="description description--portfolio">
      <h2 class="description__title after-dot">Portfolio</h2>
    </div>
    <div class="portfolio__wrapper">
      <ul class="portfolio__list reset-list">
        <li class="portfolio__item">
          <a href="https://yanagushlevskaya.github.io/device/dist/index.html" class="portfolio__link reset-link">
            <div class="portfolio__img-wrapper">
            <img src="img/creative-agency.png" alt="device" class="portfolio__img" />
            </div>
            <span class="img-description">Multipage website</span>
          <span class="img-data">February, 2019</span>
          </a>
        </li>
        <li class="portfolio__item">
          <a href="https://yanagushlevskaya.github.io/device/dist/index.html" class="portfolio__link reset-link">
            <div class="portfolio__img-wrapper">
            <img src="img/device.png" alt="device" class="portfolio__img" />
            </div>
            <span class="img-description">Group project</span>
            <span class="img-data">November, 2018</span>
           </a>
        </li>
      </ul>
    </div>
  </div>
</section>
