<section id="skills">
  <h1 hidden>Skills</h1>
  <div class="container container--skills">
    <div class="description">
      <h2 class="description__title after-dot">Skills</h2>
      <p class="decription__content">
        I am inspired by creating great products with people who are as passionate as I am about building something that matters.
      </p>
      <img src="img/acsent.png" alt="acsent" class="basic-img"/>
    </div>
    <ul class="skills__list reset-list">
        <li class="skills__item">
          <h4 class="item__title">Professional skills</h4>
          <p class="item__content">HTML5/CSS3/SCSS/Nunjucks</p>
          <p class="item__content">Adaptive, responsive design concepts</p>
          <p class="item__content">BEM Methodology</p>
          <p class="item__content">Bootstrap, Materialize libraries</p>
          <p class="item__content">basic JavaScript</p>
          <p class="item__content">jQuery</p>
          <p class="item__content">NPM</p>
          <p class="item__content">NodeJS</p>
          <p class="item__content">GIT</p>
          <p class="item__content">Jira</p>
          <p class="item__content">Gulp</pp>
        </li>
        <li class="skills__item">
          <h4 class="item__title">Personal skills</h4>
          <p class="item__content">Quick learner</p>
          <p class="item__content">Good team player</p>
          <p class="item__content">Maintain deadlines</pp>
        </li>
    </ul>
</section>
