<section class="about">
  <h1 hidden>About me</h1>
  <div class="container container--about">
    <div class="img-wrapper">
      <img src="img/me-test.png" alt="It's me" class="about__img" />
    </div>
    <div class="about__wrapper">
      <h1 class="about__title">Hi! My name is Yana Gushlevskaya</h1>
      <p class="about__description">
        I am a Junior Front-end Developer. Recently I completed courses at the Beetroot Academy, but I continue to study further. I am looking for a
        full- or a part-time job in order to use the knowledge gained in
        practice.
      </p>
      <div class="about__contacts">
        <p>
          <span>Phone</span>
          <a href="tel:+380935053193" class="about__link reset-link"
            >+38(093)-505-31-93</a
          >
        </p>
        <p>
          <span>Email</span>
          <a
            href="mailto:yanagushlevskaya@ukr.net"
            class="about__link reset-link"
            >yanagushlevskaya@ukr.net</a
          >
        </p>
        <p>
          <span>Address</span>
          <span class="about__link">Kyiv, Ukraine</span>
        </p>
        <p>
          <span>Social</span>
          <span class="about__link">
            <a
              href="https://www.facebook.com/YanaGushlevskaya"
              class="about__link reset-link about__link--social"
              ><i class="fab fa-facebook-square"></i
            ></a>
            <a
              href="https://www.instagram.com/yanagushlevskaya/?hl=ru"
              class="about__link reset-link about__link--social"
              ><i class="fab fa-instagram"></i
            ></a>
            <a
              href="https://github.com/YanaGushlevskaya"
              class="about__link reset-link about__link--social"
              ><i class="fab fa-github"></i
            ></a>
          </span>
        </p>
        <a href="" class="btn__link reset-link">
          <button class="about__btn">Download CV</button>
        </a>
      </div>
    </div>
  </div>
</section>
