<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link
      href="https://fonts.googleapis.com/css?family=Lato: 400,700,900|Roboto"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    />
  <title>
    {% block title %}{% endblock %}
  </title>
  <link rel="stylesheet" href="css/main.min.css">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
  {% include 'components/Layout/Header/header.html' %}
  
  <div class="content">
    {% block content %}{% endblock %}
  </div>
  
  {% include 'components/Layout/Footer/footer.html' %}
  {% include 'index.js' %}
</body>
</html>